{
    "extends": [
        "prettier",
        //"prettier/@typescript-eslint",
        // "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:import/typescript"
    ],
    "env": {
        "node": true,
        "es6": true
    },
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        // RECOMMENDED RULES FROM https://github.com/eslint/eslint/blob/master/conf/eslint-recommended.js
        "constructor-super": "warn",
        "for-direction": "warn",
        "getter-return": "warn",
        "no-async-promise-executor": "warn",
        "no-case-declarations": "warn",
        "no-class-assign": "warn",
        "no-compare-neg-zero": "warn",
        "no-cond-assign": "warn",
        "no-const-assign": "warn",
        "no-constant-condition": "warn",
        "no-control-regex": "warn",
        "no-debugger": "warn",
        "no-delete-var": "warn",
        "no-dupe-args": "warn",
        "no-dupe-class-members": "warn",
        "no-dupe-keys": "warn",
        "no-duplicate-case": "warn",
        "no-empty": "warn",
        "no-empty-character-class": "warn",
        "no-empty-pattern": "warn",
        "no-ex-assign": "warn",
        "no-extra-boolean-cast": "warn",
        "no-extra-semi": "warn",
        "no-fallthrough": "warn",
        "no-func-assign": "warn",
        "no-global-assign": "warn",
        "no-inner-declarations": "warn",
        "no-invalid-regexp": "warn",
        "no-irregular-whitespace": "warn",
        "no-misleading-character-class": "warn",
        "no-mixed-spaces-and-tabs": "warn",
        "no-new-symbol": "warn",
        "no-obj-calls": "warn",
        "no-octal": "warn",
        "no-prototype-builtins": "warn",
        "no-redeclare": "warn",
        "no-regex-spaces": "warn",
        "no-self-assign": "warn",
        "no-shadow-restricted-names": "warn",
        "no-sparse-arrays": "warn",
        "no-this-before-super": "warn",
        "no-undef": "warn",
        "no-unexpected-multiline": "warn",
        "no-unreachable": "warn",
        "no-unsafe-finally": "warn",
        "no-unsafe-negation": "warn",
        "no-unused-labels": "warn",
        "no-unused-vars": "off", // cannot be used right now. see https://github.com/typescript-eslint/typescript-eslint/issues/363
        "no-useless-catch": "warn",
        "no-useless-escape": "warn",
        "no-with": "warn",
        // "require-atomic-updates": "warn",
        "require-yield": "warn",
        "use-isnan": "warn",
        "valid-typeof": "warn",

        // ADDITIONAL CUSTOM RULES
        "prefer-const": "warn",
        "prefer-arrow-callback": "warn",
        "object-shorthand": "warn",
        "eqeqeq": [
            "warn",
            "always",
            {
                "null": "ignore"
            }
        ]
        // "@typescript-eslint/no-require-imports": "warn"
    }
}