@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,600,700|Rubik:400,500,600,700");
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* define variables for the interface colors */
$col_green: #00c386;
$col_green_light: #00d492;
$col_grey: #b8b8b8;
$col_grey_light: #d8d8d8;
$col_dark_grey: #363636;
$col_orange: #fc6404;
$col_blue: #228cdb;
$col_yellow: #b8b8b8;
$col_white: #fff;
$col_black: #333333;

$warning_light: #faeec0;
$warning_dark: #f9de6e;

$green_ligher: #bde4d8;
$green_lighter_focus: #65ccb3;
$green_lighter_hover: #80d5c0;

$blue_lighter: #abcdec;
$blue_lighter_focus: #7abae9;
$blue_lighter_hover: #91c6ed;

$purple_lighter: #c8b9e8;
$purple_lighter_focus: #a58cd9;
$purple_lighter_hover: #b49fdf;

$red_lighter: #e6c6bb;
$red_lighter_focus: #e4a087;
$red_lighter_hover: #e8ab95;

$font1: "Rubik", sans-serif;
$font2: "Roboto", sans-serif;
$spacing_1: 15px;
$spacing_2: 30px;
$spacing_3: 60px;

/* style groups */
%centered_block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Update Bulma's global variables
$family-sans-serif: $font2;
$primary: $col_green;
$info: $col_orange;
$success: $col_blue;
$danger: $col_orange;
$warning: $col_orange;

$grey-dark: $col_dark_grey;
$grey-light: $col_grey_light;
$link: $col_green;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $col_white;
$control-border-width: 2px;
$input-border-color: $grey-light;
$input-shadow: none;

// Import from Bulma
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/elements/container.sass";
@import "../../../node_modules/bulma/sass/elements/title.sass";
@import "../../../node_modules/bulma/sass/elements/image.sass";
@import "../../../node_modules/bulma/sass/form/_all.sass";
@import "../../../node_modules/bulma/sass/components/navbar.sass";
@import "../../../node_modules/bulma/sass/layout/hero.sass";
@import "../../../node_modules/bulma/sass/layout/section.sass";
@import "../../../node_modules/bulma/sass/helpers/_all.sass";
@import "~bulma-tooltip";

/* main layout */

body {
	margin: 0;
	padding: 0;
	background-color: $col_white;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	background-size: cover;
	background-position: center;
}

#app {
	text-align: center;
	font-family: $font2;
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	margin-bottom: $spacing_1;
	color: $col_black;
	display: flex;
	flex-direction: column;
}

.main_iframe {
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 100%;
	border-radius: 0;
	box-shadow: none;
	background-color: #fff;
}

.main {
	@extend %centered_block;

	max-width: 400px;
	min-width: 400px;
	width: 80%;

	margin-top: $spacing_1;
	border: 1px solid $col_grey;
	padding-bottom: $spacing_1;

	height: 600px;
	overflow: hidden;
	overflow-y: auto;
	display: flex;
	flex-direction: column;

	&.dev-border {
		border: 3px solid $col_green_light;
	}
}

.header {
	margin: 25px;
	position: relative;
}
.headerImage {
	@extend %centered_block;
	height: 22px;
	margin-left: 0;
}

.container {
	padding-left: $spacing_1;
	padding-right: $spacing_1;
	flex-grow: 1;
}

.layout {
	&.split {
		width: 50%;
		display: inline-block;
		box-sizing: border-box;
		&.first {
			padding-right: $spacing_1;
		}
		&.second {
			padding-left: $spacing_1;
		}
	}
}

/* Navigation elements */
.closeButton {
	position: absolute;
	top: 2px;
	width: 20px;
	height: 20px;
	right: 0;
	cursor: pointer;
	transition: all 0.3s ease-in-out 0s;
	background-color: #ababac;
	color: #fff;
	border-radius: 10px;
}
.closeButton:hover {
	transform: rotate(90deg);
	transition: all 0.3s ease-in-out 0s;
}

/* text elements */
.title {
	font-weight: 500;
	font-size: 32px;
	margin-bottom: 0px;
	font-family: $font1;
}
.subtitle {
	font-weight: 400;
	font-size: inherit;
	margin-top: $spacing_1;
	margin-bottom: 0px;
}
.field {
	text-align: left;
	margin-top: $spacing_2;
}
.label {
	font-weight: 500;
	font-size: 16px;
}
.data {
	font-weight: 400;
	font-size: 15px;
}

/* input elements */
input {
	box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
	max-width: 100%;
	width: 100%;
	border: 1px solid $col_grey_light;
	font-size: 12pt;
	height: 46px;
	border-radius: 4px;
	color: #363636;
	margin-top: $spacing_1;
	padding-left: 10px;
	display: inline-block;
	box-sizing: border-box;
}
input::placeholder {
	color: $col_grey_light;
}

input[type="checkbox"] {
	width: 20px;
	height: 20px;
}

input[type="checkbox"]:checked {
	background-color: palegreen !important;
}

.help {
	font-size: 0.9em;
	font-weight: 400;
	margin: 0;

	&.is-danger {
		color: $col_orange;
	}
	&.is-success {
		color: $col_orange;
	}
}

/* button elements */
.button {
	display: block;
	height: 50px;
	width: 100%;
	box-sizing: border-box;
	font-size: 12pt;
	border: 0;
	border-radius: 8px;
	cursor: pointer;
	&.is-green {
		background-color: $col_green;
		color: #fff;
	}
	&.is-green:hover {
		background-color: $col_green_light;
	}
	&.is-grey {
		background-color: $col_grey;
	}
	&.is-grey:hover {
		background-color: $col_grey_light;
	}
	&.is-light-green {
		background-color: $green_ligher;

		&:hover {
			background-color: $green_lighter_hover;
		}

		&:active,
		&:focus {
			background-color: $green_lighter_focus;
		}
	}
	&.is-light-danger {
		background-color: $red_lighter;

		&:hover {
			background-color: $red_lighter_hover;
		}

		&:active,
		&:focus {
			background-color: $red_lighter_focus;
		}
	}
	&.is-light-purple {
		background-color: $purple_lighter;

		&:hover {
			background-color: $purple_lighter_hover;
		}

		&:active,
		&:focus {
			background-color: $purple_lighter_focus;
		}
	}
	&.is-light-blue {
		background-color: $blue_lighter;

		&:hover {
			background-color: $blue_lighter_hover;
		}

		&:active,
		&:focus {
			background-color: $blue_lighter_focus;
		}
	}
}
.button:focus {
	border: 0;
}

.collapse {
	text-align: left;
	font-weight: 400;
	font-size: 18px;
	margin-top: $spacing_1;
	margin-bottom: 0px;
	border-bottom: 1px solid $col_grey_light;
	padding-bottom: $spacing_1;

	&.hide-border {
		border-bottom: none;
		margin: 0;
		padding: 0;
	}

	.header {
		cursor: pointer;
		margin: 0;
		margin-right: auto;
	}
	.hidden {
		display: none;
		transition: all 0.3s ease-in-out 0s;
	}
	.visible {
		display: inline;
		transition: all 0.3s ease-in-out 0s;
	}
	.collapseIcon {
		font-size: 11pt;
		line-height: 14pt;
		font-weight: 400;
		margin-right: 4px;

		> svg {
			transition: 200ms;
		}

		&.open {
			> svg {
				transform: rotateZ(90deg);
			}
		}
	}
}

.input,
.textarea,
.select select {
	background-color: #fbfafc;
	border: 1px solid #e0e0e0;
	border-radius: 10px;
	margin-top: 0;
}

.input {
	height: 40px;
}

.title {
	font-size: 1.4rem;
}

.field {
	margin-top: 15px;

	.label {
		margin-bottom: 5px;
		font-size: 0.9rem;
	}
}

.password-input {
	margin-bottom: 6px;
}

.container {
	padding: 25px;
	padding-top: 0;
	flex-grow: 1;
	width: 100%;
}

.main {
	padding-bottom: 0;
	position: relative;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0 8px 20px 0 rgb(0 0 0 / 15%);
}

.header {
	margin-top: 25px;
}

.divider {
	width: 100%;
	height: 2px;
	background-color: #e6e6e6;
	margin: 20px 0;

	&.thick {
		height: 1px;
		margin:  15px 0;
	}

	&.just-space {
		height: 1px;
		background: transparent;
		margin: 0;
		margin-top: 19px;
	}

	&.vertical {
		height: 16px;
		width: 1px;
		margin: 0 10px;
		background-color: $col_black;
	}
}

.button {
	background-color: #fbfafc;
	border-color: #dbdbdb;
	border-width: 1px;
	color: #363636;
	cursor: pointer;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding-bottom: calc(0.4em - 1px);
	padding-left: 0.75em;
	padding-right: 0.75em;
	padding-top: calc(0.4em - 1px);
	text-align: center;
	white-space: nowrap;
	border-radius: 7px;
	transition: 200ms;

	&.big-button {
		color: white !important;
		font-family: $font1;
		font-weight: 500;
		font-size: 20px !important;
		border: none !important;
		height: 48px !important;
		width: 100%;
		display: flex;
		align-items: center;

		.icon.img {
			height: 24px;
			width: 24px;
			display: inline-block;

			> img {
				width: 100%;
				height: 100%;
			}
		}

		&.squared {
			width: 52px !important;
		}

		&.is-login {
			background-color: #00c386 !important;
			box-shadow: 0 1px 2px 0 rgba(0, 195, 134, 0.2), 0 5px 12px 0 rgba(0, 0, 0, 0.1);
			transition-delay: 0s;
			transition-duration: 0.25s;
			transition-property: all;
			transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);

			&:hover {
				background-color: #00d492 !important;
				transition-delay: 0s;
				transition-duration: 0.25s;
				transition-property: all;
				transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
			}

			&:focus,
			&:active {
				box-shadow: 0 1px 2px 0 rgba(0, 195, 134, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1) !important;
				transition-delay: 0s;
				transition-duration: 0.15s;
				transition-property: all;
				transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
			}
		}

		&.is-blue {
			background-color: #228cdb !important;
			box-shadow: 0 1px 2px 0 rgba(34, 140, 219, 0.2), 0 5px 12px 0 rgba(0, 0, 0, 0.1);
			transition-delay: 0s;
			transition-duration: 0.25s;
			transition-property: all;
			transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);

			&:hover {
				background-color: #3e9be1 !important;
				box-shadow: 0 1px 2px 0 rgba(34, 140, 219, 0.2), 0 5px 12px 0 rgba(0, 0, 0, 0.1);
				transition-delay: 0s;
				transition-duration: 0.25s;
				transition-property: all;
				transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
			}

			&:active,
			&:focus {
				box-shadow: 0 1px 2px 0 rgba(34, 140, 219, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1) !important;
				transition-delay: 0s;
				transition-duration: 0.25s;
				transition-property: all;
				transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
			}
		}

		&.is-light-purple {
			background-color: #9422db !important;
			box-shadow: 0 1px 2px 0 rgb(148 34 219 / 20%), 0 5px 12px 0 rgb(0 0 0 / 10%);
			transition-delay: 0s;
			transition-duration: 0.25s;
			transition-property: all;
			transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);

			&:hover {
				background-color: #a22fe9 !important;
				-webkit-transition-delay: 0s;
				transition-delay: 0s;
				-webkit-transition-duration: 0.25s;
				transition-duration: 0.25s;
				-webkit-transition-property: all;
				transition-property: all;
				-webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
				transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
			}
		}

		&.outlined-button {
			background-color: inherit !important;
			border: 1.25px solid #808080 !important;
			color: #666666 !important;

			&.is-thick {
				border-width: 2px !important;
			}

			&:hover {
				border: 1.25px solid #363636 !important;
				color: #363636 !important;

				&.is-thick {
					border-width: 2px !important;
				}
			}
		}

		&.is-ghost {
			background-color: transparent !important;
			box-shadow: none;
			width: auto;
			margin: 0 auto;
			padding: 0;
			height: auto!important;
			margin-top: 20px;


			&:hover {
				background-color: transparent !important;
				box-shadow: none;
				text-decoration: none;
			}

			&.is-blue {
				color: #2d9aee !important;

				&:hover {
					color: #363636 !important;
				}

				&:active,
				&:focus {
					box-shadow: none!important;
				}
			}
		}
	}

	&.small-text {
		font-size: 14px !important;
	}

	&.medium-text {
		font-size: 1.1rem !important;
	}

	&.is-icon-only {
		width: 28px !important;
		height: 28px !important;
		font-size: 14px !important;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&.is-outlined {
		background: transparent;
		border: 1px solid;
	}

	&.is-small-button {
		height: 34px;
		display: flex;
		align-items: center;
		padding-left: 1.2rem;
		padding-right: 1.2rem;
	}
}

.transition-faster {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.new-account {
	margin-top: 10px;
}

.footer {
	background-color: #fbfafc;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.05);
	padding: 8px 10px;
	margin-top: auto;

	.icon {
		color: #4c4c4c;
		margin-right: 7px;
	}
}

.is-text-small {
	font-size: 12px;
}

.login-router {
	color: #228cdb !important;
	cursor: pointer;

	&:hover {
		color: #363636 !important;
	}
}

.login-link {
	font-weight: 500;
	font-size: 1rem;
}

/* Checkbox */
.checkbox {
	display: flex;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	align-items: center;
	height: 25px;
	transition: 200ms;

	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
		&:checked {
			~ {
				.checkmark {
					background-color: $col_green;
					&:after {
						display: block;
					}
				}
			}
		}
	}
	&:hover {
		input {
			~ {
				.checkmark {
					background-color: #ccc;
				}
			}
		}
	}
	.checkmark {
		&:after {
			left: 9px;
			top: 5px;
			width: 8px;
			height: 12px;
			border: solid white;
			border-width: 0 3px 3px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	border-radius: 5px;
	background-color: #eee;
	transition: 200ms;

	&:after {
		content: "";
		position: absolute;
		display: none;
	}
}

.recovery-active {
	background: rgba($col_green, 0.1);
	margin: 0 10px;
	padding: 5px;
	border-radius: 0 0 7px 7px;
}

.horizontal-buttons {
	display: flex;

	> button {
		flex: 1;
	}
}

.protection-enabled {
	display: flex;
	align-items: center;

	> svg {
		font-size: 20px;
	}

	.icon.img {
		height: 16px;
		width: 16px;

		> img {
			width: 100%;
			height: 100%;
		}
	}

	.enabled {
		background: #d0eee4;
		padding: 3px 14px;
		border-radius: 5px;
		margin-left: auto;
		border: 1px solid #58c08a;
		line-height: 1rem;
		font-size: 12px;
		font-weight: 500;
	}
}

.password-help {
	font-size: 12px;

	> p {
		margin-bottom: 5px;
	}

	.items {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 5px;
		grid-row-gap: 5px;

		li {
			margin: 0;
			padding-left: 15px;
			position: relative;
			transition: 200ms;

			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 8px;
				height: 8px;
				border-radius: 4px;
				border: 1px solid #ccc;
				transition: 200ms;
			}

			&.done {
				color: $col_green;

				&::before {
					border: none;
					border-bottom: 2px solid $col_green;
					border-right: 2px solid $col_green;
					transform: translateY(-50%) rotate(45deg);
					border-radius: 0;
					width: 6px;
					height: 10px;
				}
			}

			&.fail {
				color: $col_orange;

				&::before {
					content: "✕";
					border: none;
					border-radius: 0;
					top: auto;
					transform: none;
				}
			}
		}
	}
}

.Password__strength-meter {
	margin: 0 !important;
	margin-bottom: 10px !important;
}

.forgot-password {
	margin-top: 15px;
}

.error {
	text-align: left;
	margin-bottom: 20px;
	font-size: 14px;
}

.settings-data {
	border: 1px solid #eae9ed;
	border-radius: 13px;
	box-shadow: 0px 2px 4px 0px rgba($col_black, 0.1);

	.settings-link {
		font-size: 1.1rem;
		justify-content: center;
		cursor: pointer;
		padding: 15px;

		+ .settings-link {
			border-top: 2px solid #eae9ed;
		}

		.text {
			margin-left: 10px;
		}

		.icon {
			margin-left: auto;
		}

		&.email-password {
			justify-content: flex-start;

			.data {
				font-size: 1rem;
				text-align: left;
				justify-content: flex-start;
				margin-right: 10px;

				p {
					line-height: 1rem;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
			}

			.link {
				margin-left: auto;

				> div {
					> svg {
						display: block;
						font-size: 26px;
					}
				}
			}
		}
	}
}

.custom-card {
	padding: 15px;
	box-shadow: 0 1px 3px 0 rgba($col_black, 0.1);
	border-radius: 13px;
	border: 1px solid #eae9ed;

	.actions {
		display: flex;
		align-items: center;
	}
}

.alert {
	padding: 10px 15px;
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	font-weight: 500;
	line-height: 1rem;

	&.warning {
		border-color: $warning_dark;
		background-color: $warning_light;
	}
}

.medium-text {
	font-size: 1.1rem !important;
}

.user-details {
	.details {
		padding: 15px;

		p {
			line-height: 1rem;
		}

		+ .details {
			border-top: 2px solid #eae9ed;
		}
	}

	.copy-icon {
		> svg {
			cursor: pointer;
			color: #ababac;
			font-size: 16px;
			transition: 200ms;

			&:hover {
				color: #363636;
			}
	
			&:active,
			&:focus {
				color: #363636;
			}
		}
	}
}

.fb-color {
	color: #1877f2;
}

.tooltip {
	position: absolute;
	width: 260px;
	left: 0;
	top: 100%;
	padding: 13px;
	font-weight: 300;
	font-size: 12px;
	white-space: pre-wrap;
	background: #f2effa;
	border-radius: 7px;
	box-shadow: 1px 2px 1px 0 rgb(0 0 0 / 20%);
	margin-top: 10px;
	opacity: 0;
	visibility: hidden;
	transition: 200ms;

	&::before {
		content: "";
		width: 0;
		height: 0;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;

		border-bottom: 10px solid #f2effa;
		position: absolute;
		left: 30px;
		top: -10px;
	}
}

.button:hover {
	.tooltip {
		visibility: visible;
		opacity: 1;
	}
}

.cursor-not-allowed {
	cursor: not-allowed;
}

.links {
	svg {
		color: #ababac;
	}
}

.reset-line-height {
	line-height: 1rem;
}

.reset-mt {
	margin-top: -10px;
}

.select-custom {
	position: relative;
	transition: 200ms;
	cursor: pointer;

	.circle {
		content: "";
		position: absolute;
		left: 15px;
		top: 50%;
		transform: translateY(-50%);
		width: 14px;
		height: 14px;
		border-radius: 10px;
		border-width: 1px;
		border-style: solid;
		border-color: #979797;
		transition: 200ms;

		.inner {
			width: 10px;
			height: 10px;
			border-radius: 10px;
			margin: 1px;
			background-color: transparent;
			transition: 200ms;
		}
	}

	> p {
		padding-left: 24px;
	}

	&.active {
		.circle {
			border-color: #228cdb;

			.inner {
				background-color: #228cdb;
			}
		}
	}
}


a {
	color: #228cdb;

	&:hover {
		color: #363636;
	}
}

.important-font {
	font-family: 'Rubik', 'Roboto', sans-serif;
}

.button:focus:not(:active), .button.is-focused:not(:active) {
    box-shadow: none;
}

.jazz-icon {
	border-radius: 50px;
	height: 32px;
	width: 32px;

	> div {
		border: 0.1px solid #fff;
		box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.1);
	}
}

.reset-cursor {
	cursor: default!important;
}

.image-blur {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgb(0 0 0 / 50%);
}